body{
	font-family: 'Sintony', sans-serif;
}

.header{
	/* border:   thick solid #000; */
	overflow: hidden;
	height:   1%;
	border-bottom: 0.5px solid greenyellow;
	padding-left: 64px;
}

h1{
	font-family: 'Courgette', cursive;
	color:#277FA0;
	text-align: center;
	margin-top: 12px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 20px;
}

nav{
	display: inline-block;
	width: 990px;
	margin: 15px 40px 0px 0px;
	float: right;
}

nav ul{
	padding: 0px 10px 0px 10px;
	margin-bottom: 0px;
}

/* *********************************************************************************************************************
 * Grilla
 */

.content{
	margin: 0 auto;
	padding: 0px 0 0 1%;
	max-width: 1020px;
}

.onerow {
	clear: both;
	padding: 10px 10px;
}

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
	float: left;
	margin: 0 3% 0 0;
}

.col1.last, .col2.last, .col3.last, .col4.last, .col5.last, .col6.last, .col7.last, .col8.last, .col9.last, .col10.last, .col11.last, .col12 {
	margin: 0;
}

.col1 { width: 5.5%; }
.col2 { width: 14%; }
.col3 { width: 22.5%; }
.col4 { width: 31%; }
.col5 { width: 39.5%; }
.col6 { width: 48%; }
.col7 { width: 56.5%; }
.col8 { width: 65%; }
.col9 { width: 73.5%; }
.col10 { width: 82%; }
.col11 { width: 90.5%; }
.col12 { width: 99%; margin: 0; }

.col1 img, .col2 img, .col3 img, .col4 img, .col5 img, .col6 img, .col7 img, .col8 img, .col9 img, .col10 img, .col11 img, .col12 img {
	width: 100%;
	height: auto;
	display: block;
}





.logo-content{
	display: inline;
    width: 230px;
    position: relative;
    float: left;
}

.logo{
	display: inline;
}

.logo img{
	position: relative;
	width: 180px;
	display: block;
	margin: 0 auto;
}

.item-nav.active, .item-nav.active:hover{
	background-image: url(../images/huella.png);
	background-repeat: no-repeat;
	color:#FFFFFF;
}


.item-nav{
	display:inline-block;
	padding: 88px 22px 37px 67px;
}

.item-nav:hover{
	display:inline-block;
	padding: 88px 22px 37px 67px;
	background-image: url(../images/huellaHover.png);
	background-repeat: no-repeat;
}

.item-nav a{
	color: #277FA0;
	text-decoration: none;
	font-family: 'Courgette', cursive;
}
.item-nav.active a{
	color: greenyellow;
}

.item-nav:not(last-child){
	margin-right: 23px;
}
.prio{
	background-color: #277FA0;
	overflow: hidden;
	height:   1%;
}

.prio h2{
	text-align: center;
	padding-top: 10px;
	/* font-family: 'Courgette', cursive; */
	color: greenyellow;
	font-size: 22px;
}

.prio a{
    color: greenyellow;
    text-decoration: none;
}

.imgprio{
	overflow: hidden;
	margin: 0 auto;
	width: 200px;
	height: 200px;
	background-color: #FFFFFF;
	border-radius: 50%;
}

.infoprio{
	color: #E1F5F0;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
}

.infoprio h2{
	text-align: center;
	padding-top: 0px;
	/* font-family: 'Courgette', cursive; */
	color: greenyellow;
	margin-top: 8px;
	margin-bottom: 10px;
}

.bienvenidos{
	overflow: hidden;
	background-color: #CC0070;
}

.bienvenidos h2 {
	color:white;

}

.bienvenidos p{

	color:white;
}

footer {
	color: #CC0070;
}
footer ul li{
	/* display: inline-block; */
	/* text-decoration: none; */
	padding: 0px;
	list-style: none;
	/* color: #CC0070; */
}

footer ul li a{
	text-decoration: none;
	font-size: 14px;
	color: #CC0070;
}

.quienes p{
	color:greenyellow;
}

.descri_mascota{
	color: white;
}
